<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container mt-5">
  <h2>About Me</h2>
  <p>I am Anil Sai — AWS & DevOps Engineer skilled in Docker, Kubernetes, Jenkins.</p>
</div>

</body>
</html>
